APP_NAME=RFB Loader Enterprise
APP_ENV=development

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=rfb

INPUT_DIR=data/input
EXTRACT_DIR=data/extracted
LOG_DIR=logs
BATCH_SIZE=10000