# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# IDE / Editor
# =========================
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

.idea/
*.swp
*.swo

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime files
# =========================
*.pid
*.tmp
*.bak

# =========================
# Data files
# =========================
data/extracted/
data/temp/
data/output/

# manter input se quiser versionar estrutura
# data/input/*

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store

