beautifulsoup4>=4.12.3
bs4>=0.0.3
greenlet>=3.0.1
importlib-metadata>=8.5.0
lxml>=4.9.3
numpy>=2.1.3
pandas>=2.2.3
python-dateutil>=2.9.0
python-dotenv>==1.0.1
pytz>=2023.3
requests>==2.32.3
six>=1.16.0
soupsieve>=2.5
SQLAlchemy>=2.0.36
typing-extensions>=4.12.0
tzdata==2024.2
urllib3==2.2.3
wget>=3.2
zipp>=3.21.0
mysql.connector>=2.2.9
logging>=0.4.9.6
pydevd>=3.2.3
connection>=2021.7.20