bs4>=0.0.3
csv
dask>=2024.12.0
dotenv
hashlib
logging>=0.4.9.6
greenlet>=3.0.1
lxml>=4.9.3
mysql.connector>=2.2.9
numpy>=2.1.3
operationalError
os
pandas
re
requests>==2.32.3
sys
time
urllib==2.2.3
wget>=3.2
zipfile>=3.21.0
